@font-face {
  font-family:'jupiteroid-bold';
  src:url('https://miltza.fyi/assets/Jupiteroid-Bold.ttf');
}
@font-face {
  font-family:'overused-grotesk';
  src:url('https://miltza.fyi/assets/OverusedGrotesk-Medium.otf');
}
@font-face {
  font-family:'dotsies';
  src:url('https://miltza.fyi/assets/Dotsies.ttf');
}
@font-face {
  font-family:'n4noosem';
  src:url('https://miltza.fyi/assets/N4NOOSE-Macaroni.ttf');
}

:root {
    --cicadamagenta: rgba(196 43 71);
}
li[data-author-username="moonseyesys"] {
    .message__5126c {
        background: url("https://miltza.fyi/assets/text.png") no-repeat;
        background-position: right 2.5px bottom 2.5px;
        background-size: 60px;
        background-color:white;
        border-radius: 0px;
        padding-top: 3px;
    }
    &:hover {
        background: url("https://miltza.fyi/assets/text.png") no-repeat;
        background-position: right 2.5px bottom 2.5px;
        background-size: 60px;
        background-color:white;
    }
    .message__5126c.mentioned__5126c::before {
        background-color: var(--cicadamagenta);
        width: 5px;
    }
    .embed__623de:not(.inlineMediaEmbed__623de) {
        background-color: white;
        background: url(https://miltza.fyi/assets/aegishighres.png) no-repeat;
        background-size: 60px;
        background-position: right 10px top 10px;
        background-origin: 270px;
        font-family: "overused-grotesk";
        border-width: 2px;
        border-color: rgb(128,128,128);
        border-left-color: var(--cicadamagenta) !important;
        border-left-width: 5px;
        border-radius: 0%;
        .anchor_edefb8 {
            font-family: 'overused-grotesk';
            color: black;
        }
        .embedTitle__623de {
                color: var(--cicadamagenta);
        }
    }
    .embedAuthorIcon__623de {
        display: none;
    }
    .embedAuthorName__623de {
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: rgb(128,128,128);
        width: 100%;
    }
    .wrapper_cf09d8 {
        background-color: white;
        background: url(https://miltza.fyi/assets/aegishighres.png) no-repeat;
        background-size: 60px;
        background-position: right 10px top 10px;
        background-origin: 270px;
        font-family: "overused-grotesk";
        border-width: 2px;
        border-color: rgb(128,128,128);
        border-left-color: var(--cicadamagenta) !important;
        border-left-width: 5px;
        border-radius: 0%;
        .anchor_edefb8 {
            font-family: 'overused-grotesk';
            color: black;
        }
        .embedTitle__623de {
                color: var(--cicadamagenta);
        }
    }
    .audioControls_cf09d8 {
        background-color: rgba(0,0,0,0);
        font-family: "overused-grotesk";
        border-style: solid;
        border-left-style: none;
        border-right-style: none;
        border-width: 2px;
        border-color: rgb(230,230,230);
        border-radius: 0%;
        .anchor_edefb8 {
            font-family: 'overused-grotesk';
            color: black;
        }
        .controlIcon_cf09d8 {
            color: black;
        }
        .buffer_b26b79.fakeEdges_b26b79 {
            background-color: black;
        }
        .mediaBarProgress_b26b79 {
            background-color: var(--cicadamagenta);
        }
        .mediaBarProgress_b26b79::before {
            background-color: var(--cicadamagenta);
        }
        .mediaBarProgress_b26b79::after {
            background-color: var(--cicadamagenta);
        }
        .mediaBarGrabber_b26b79 {
            background-color: var(--cicadamagenta);
        }
    }
    .newMosaicStyle__4d95d.mosaicItemContent__6c706.container__4d95d {
        .textContainer__4d95d {
            background-color: black;
            font-family: "overused-grotesk";
            border-width: 2px;
            border-color: var(--cicadamagenta);
            border-radius: 0%;
            .anchor_edefb8 {
                font-family: 'overused-grotesk';
                color: black;
            }
            .embedTitle__623de {
                    color: var(--cicadamagenta);
            }
            .codeView__4d95d {
                background-color: black;
            }
        }
        .footer__4d95d {
            background-color: black;
            font-family: "overused-grotesk";
            border-width: 2px;
            border-color: var(--cicadamagenta);
            border-radius: 0%;
            color: black;
            .fileName__4d95d {
                font-family: 'overused-grotesk';
            }
            .text-xs/normal_cf4812 {
                font-family: 'overused-grotesk';
            }
        }
    }
    .message__5126c.selected__5126c {
        background: url("https://miltza.fyi/assets/text.png") no-repeat;
        background-position: right 2.5px bottom 2.5px;
        background-size: 60px;
        background-color:white;
    }
    .reaction__23977 {
        background-color: var(--cicadamagenta);
    }
    .reactionCount__23977 {
        color: white;
    }
    span {
        color: black;
    }
    .botTag_c19a55 {
        display: none;
    }

    .headerText_c19a55 {
        background-color: var(--cicadamagenta);
        border-style: solid;
        border-left-width: 5px;
        border-right-width: 5px;
        border-radius: 6px;
        border-color: var(--cicadamagenta);
        
    }
    .avatar_c19a55 {
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-origin: 50%;
        border: black 2px;
        background: url(https://miltza.fyi/assets/pfp40by40.gif) no-repeat;
    }
    .avatar_c19a55:hover {
        animation-name: H1239581CCDA_bnuuyfadein;
        animation-duration: 0.5s;
        padding-right: 40px;
    }
    .contents_c19a55 span {
        font-family: overused-grotesk;
        padding-top: 4px;
    }
    .username_c19a55 {
        color: white !important;
        font-family: overused-grotesk !important;
    }
    .username_c19a55::before {
        color: white !important;
        font-family: overused-grotesk !important;
        content: "+ "
    }
    .username_c19a55::after {
        color: white !important;
        font-family: overused-grotesk !important;
        content: " +"
    }
    .repliedMessage_c19a55 > .username_c19a55 {
        color: black !important;
    }
    .repliedMessage_c19a55 > .username_c19a55::before {
        color: black !important;
        font-family: overused-grotesk !important;
        content: "+ "
    }
    .repliedMessage_c19a55 > .username_c19a55::after {
        color: black !important;
        font-family: overused-grotesk !important;
        content: " +"
    }
    .vc-smyn-suffix {
        color: black;
    }
}

li[data-author-username="the_real_letter_j ☉ moonseye"] {
    .message__5126c {
        background: url("https://miltza.fyi/assets/text.png") no-repeat;
        background-position: right 2.5px bottom 2.5px;
        background-size: 60px;
        background-color:white;
        border-radius: 0px;
        padding-top: 3px;
    }
    &:hover {
        background: url("https://miltza.fyi/assets/text.png") no-repeat;
        background-position: right 2.5px bottom 2.5px;
        background-size: 60px;
        background-color:white;
    }
    .message__5126c.mentioned__5126c::before {
        background-color: var(--cicadamagenta);
        width: 5px;
    }
    .embed__623de:not(.inlineMediaEmbed__623de) {
        background-color: white;
        background: url(https://miltza.fyi/assets/aegishighres.png) no-repeat;
        background-size: 65px;
        background-position: right 5px top 5px;
        background-origin: 270px;
        font-family: "overused-grotesk";
        border-width: 2px;
        border-color: rgb(128,128,128);
        border-left-color: var(--cicadamagenta) !important;
        border-left-width: 5px;
        border-radius: 0%;
        .anchor_edefb8 {
            font-family: 'n4noosem';
            font-size: 10px;
        }
    }
    .embedAuthorIcon__623de {
        display: none;
    }
    .embedAuthorName__623de::before {
        content: ' > REPLY : ';
        font-family: "overused-grotesk";
    }
    .embedAuthorName__623de {
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: rgb(128,128,128);
    }
    .embedAuthorName__623de::after {
        content: '                           \a///';
        margin-left: -2.3ch;
    }
    .audioControls_cf09d8 {
        background-color: rgba(0,0,0,0);
        font-family: "overused-grotesk";
        border-style: solid;
        border-left-style: none;
        border-right-style: none;
        border-width: 2px;
        border-color: rgb(230,230,230);
        border-radius: 0%;
        .anchor_edefb8 {
            font-family: 'overused-grotesk';
            color: black;
        }
        .controlIcon_cf09d8 {
            color: black;
        }
        .buffer_b26b79.fakeEdges_b26b79 {
            background-color: black;
        }
        .mediaBarProgress_b26b79 {
            background-color: var(--cicadamagenta);
        }
        .mediaBarProgress_b26b79::before {
            background-color: var(--cicadamagenta);
        }
        .mediaBarProgress_b26b79::after {
            background-color: var(--cicadamagenta);
        }
        .mediaBarGrabber_b26b79 {
            background-color: var(--cicadamagenta);
        }
    }
    .newMosaicStyle__4d95d.mosaicItemContent__6c706.container__4d95d {
        .textContainer__4d95d {
            background-color: black;
            font-family: "overused-grotesk";
            border-width: 2px;
            border-color: var(--cicadamagenta);
            border-radius: 0%;
            .anchor_edefb8 {
                font-family: 'overused-grotesk';
                color: black;
            }
            .embedTitle__623de {
                    color: var(--cicadamagenta);
            }
            .codeView__4d95d {
                background-color: black;
            }
        }
        .footer__4d95d {
            background-color: black;
            font-family: "overused-grotesk";
            border-width: 2px;
            border-color: var(--cicadamagenta);
            border-radius: 0%;
            color: black;
            .fileName__4d95d {
                font-family: 'overused-grotesk';
            }
            .text-xs/normal_cf4812 {
                font-family: 'overused-grotesk';
            }
        }
    }
    .message__5126c.selected__5126c {
        background: url("https://miltza.fyi/assets/text.png") no-repeat;
        background-position: right 2.5px bottom 2.5px;
        background-size: 60px;
        background-color:white;
    }
    .reaction__23977 {
        background-color: var(--cicadamagenta);
    }
    .reactionCount__23977 {
        color: white;
    }
    span {
        color: black;
    }
    .botTag_c19a55 {
        display: none;
    }

    .headerText_c19a55 {
        background-color: var(--cicadamagenta);
        border-style: solid;
        border-left-width: 5px;
        border-right-width: 5px;
        border-radius: 6px;
        border-color: var(--cicadamagenta);
        
    }
    .avatar_c19a55 {
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-origin: 50%;
        border: black 2px;
        background: url(https://miltza.fyi/assets/pfp40by40.gif) no-repeat;
    }
    .avatar_c19a55:hover {
        animation-name: H1239581CCDA_bnuuyfadein;
        animation-duration: 0.5s;
        padding-right: 40px;
    }
    .contents_c19a55 span {
        font-family: overused-grotesk;
        padding-top: 4px;
    }
    .username_c19a55 {
        color: white !important;
        font-family: overused-grotesk !important;
    }
    .username_c19a55::before {
        color: white !important;
        font-family: overused-grotesk !important;
        content: "+ "
    }
    .username_c19a55::after {
        color: white !important;
        font-family: overused-grotesk !important;
        content: " +"
    }
    .vc-smyn-suffix {
        color: black;
    }
}
